#root {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  background-color: #362b32;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.btn-1 {
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  background-color: aliceblue;
}

.btn-1::before,
.btn-1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.btn-1::before {
  left: -10px;
  background: #240046;
}

.btn-1::after {
  right: -10px;
  background: #5a189a;
}

.btn-1:hover::before,
.btn-1:hover::after {
  width: 58%;
}

.btn-1:hover span {
  color: #e0aaff;
  transition: 0.3s;
}

.btn-1 span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.content {
  color: white;
}

.news-row {
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-row:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.fc-toolbar-title {
  color: rgb(247, 247, 247);
}

.fc-daygrid-day-number {
  color: rgb(255, 255, 255);
}
